<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/marked.min.js"></script>


</head>

<body>
    <div id="content">
        {% if loggedIn %}
        <h1>欢迎访问 {{ currentUser.Username }} 的博客本！</h1>
        <button id="logout-btn">退出登录</button>
        {% else %}
        <h1>欢迎访问赛博博客系统</h1>
        <a href="/login" id="login-btn">登录</a>
        <a href="/register" id="register-btn">注册</a>
        <div class="animated-element"></div>
        {% endif %}
    </div>

    {% if loggedIn %}
    <section class="blog-block">
        <h1>博客信息</h1>
        <div id="blog">
         
        </div>
    </section>
    <section class="blog-block">
        <h1>区块链信息</h1>
        <div id="blockchain">
            <!-- 添加这个元素用于显示区块链信息 -->
            <h2>{{ blockchain_info }}
        </div>
    </section>
    {% endif %}
    {% if loggedIn %}
    <div style="margin-top: 20px;">
        <button id="add-blog-button" onclick="showBlogInput()">添加博客</button>
        <button id="validate" onclick="validate()">验证区块链</button>
    </div>

    <div id="blog-input" style="display: none; margin-top: 20px;">
        <input type="text" id="blog-content" placeholder="在这里输入博客内容...">
        <button id="send-blog-button" onclick="submitBlog()">提交博客</button>
    </div>
    {% endif %}

    <script>
        // 如果已登录，获取博客和区块链信息
        {% if loggedIn %}

        let blogInfo;
        // 获取区块链和博客信息
        function getBlockchainAndBlogInfo() {
            fetch('/loginin', {
                method: 'GET',
                credentials: 'include',  // 保持跨域请求时的 cookie 传递
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // 更新区块链信息和博客信息的显示
                        document.getElementById('blockchain').innerHTML = data.blockchainInfo;
                        blogInfo = data.blogInfo;
                        displayBlogInfo(blogInfo);
                    } else {
                        // 处理获取信息失败的情况
                        window.alert('获取信息失败:'+ data.message);
                    }
                })
                .catch(error => {
                    // 处理请求出错的情况
                    window.alert('请求出错:'+ error);
                });
        }

        function displayBlogInfo(blogInfo) {
            const blogContainer = document.getElementById('blog');
            blogContainer.innerHTML = ''; // 清空现有内容

            blogInfo.forEach(blog => {
                const blogElement = document.createElement('span');
                
                blogElement.innerHTML = marked.parse(blog); // 假设 blog 是一个字符串
                blogContainer.appendChild(blogElement);
                blogContainer.appendChild(document.createElement('hr'));
            });
        }
        // 在页面加载完成后调用获取信息的函数
        document.addEventListener('DOMContentLoaded', function () {
            getBlockchainAndBlogInfo();
        });

        // 登出按钮点击事件
        document.getElementById('logout-btn').addEventListener('click', async function () {
            // 这里添加JavaScript代码实现登出逻辑，例如向后端发送登出请求
            try {
                const response = await fetch('/logout', {
                    method: 'POST',
                    headers: {
                        'Authorization': '{{ session["username"] }}'
                    }
                });

                if (response.ok) {
                    // 登出成功，重定向到登录页面
                    window.location.href = "/login";
                } else {
                    alert('Logout Error:'+ response);
                }
            } catch (error) {
                alert('Logout Error:'+ error);
                
            }
        });

        {% endif %}
    </script>
    <script>
        // JavaScript函数用于显示输入框
        function showBlogInput() {
            document.getElementById('add-blog-button').style.display = 'none';
            document.getElementById('blog-input').style.display = 'block';
        }

        // JavaScript函数用于提交博客
        function submitBlog() {
            const content = document.getElementById('blog-content').value;

            // 向后端发送写博客的请求
            fetch('/loginin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ content: content })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // 写博客成功，可以根据需要进行其他处理
                        if (data.refresh) {
                            location.reload();
                        }
                    } else {
                        // 写博客失败，可以根据需要进行其他处理
                        alert('博客提交失败: ' + data.message);
                    }
                })
                .catch(error => {
                    // 处理请求出错的情况
                    alert('请求出错:'+ error);
                });
        }

        function validate() {
            //向后端发送验证的请求
            fetch('/validate', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('验证成功: ' + data.message)
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    // 处理请求出错的情况
                    alert('请求出错:' + error);
                });
        }
    </script>
</body>

</html>